@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other global styles */

/* Swiper pagination customization */
.swiper-pagination-bullet {
  background-color: #ccc; /* Default bullet color */
}

.swiper-pagination-bullet-active {
  background-color: #028D3C; /* Active bullet color */
}

/* Change color of the next (right) arrow */
.swiper-button-next {
    color: #028D3C; /* Change this to your desired color */
  }
  
  /* Change color of the prev (left) arrow */
  .swiper-button-prev {
    color: #028D3C; /* Change this to your desired color */
  }
  
  /* Optional: Change hover effect */
  /* .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #ff6347; */
     /* Hover color */
  /* } */
  
/* Add this to your global CSS file */
/* .clip-path-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */

/* src/index.css */
@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Regular.woff2') format('woff2'),
       url('./assets/fonts/Metropolis-Regular.woff') format('woff'),
       url('./assets/fonts/Metropolis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Bold.woff2') format('woff2'),
       url('./assets/fonts/Metropolis-Bold.woff') format('woff'),
       url('./assets/fonts/Metropolis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Add other weights or styles like italic if needed */
